* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px, solid, rgb(18, 67, 122);
}

.factors {
    display: flex;
    align-items: center;
    gap: 25px;
}

.company_name {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.company_name h2 {
    color: rgb(18, 67, 122);
    font-size: 50px;
}

.factors a {
    color: #413f3fdc;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.factors a:hover,
.factors a.active {
    color: black;
}

h1 {
    font-size: 20px;
    color: rgb(18, 67, 122);
    padding: 20px;
    margin-left: 45px;
    font-weight: 200;
}

h2 {
    font-size: 15px;
    color: black;
    padding: 20px;
    margin-left: 45px;
}

h5 {
    font-size: 16px;
    color: rgb(18, 67, 122);
    padding: 20px;
    margin-left: 45px;
    font-weight: 200;
}

button {
    width: 15%;
    padding: 5px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(105, 137, 171);
}

h3 {
    font-size: 20px;
    color: rgb(18, 67, 122);
    padding: 20px;
    margin-left: 45px;
    font-weight: 200;
    text-align: center;
}

.footer {
    margin-top: 100px;
    background-color: rgba(159, 157, 157, 0.263);
    border-radius: 3px;
    padding: 6px;
}

.footer h4 {
    color: rgb(18, 67, 122);
    font-size: 2rem;
    margin-left: 20px;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.data a {
    text-decoration: none;
    color: rgb(18, 67, 122);
}

.info {
    display: flex;
    justify-content: space-between;
}

.mail {
    margin-right: 20px;
}

@media only screen and (max-width: 767px) {

    .navbar {
        width: 100%;
        max-width: 990px;
        align-items: center;
    }

    .navbar .factors {
        display: none;
    }

    .company_name img {
        width: 50px;

    }

    .company_name h2 {
        font-size: 35px;
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .footer h4 {
        text-align: center;
        font-size: 20px;
    }

    .data {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }

    .data p,
    img {
        margin: 5px;
    }

}