* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
}
.logo_size {
    width: 80px;
    height: 72px;
}

/* .slider {
    overflow: hidden;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}

.slider figure img {
    float: left;
    width: 20%;
    height: 500px;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    90% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
} */

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.heading {
    color: rgb(22, 91, 169);
   
}

.container-fluid {
    margin-top: 20px;
}

.j-c-img {
    height: 250px;
    object-fit: cover;
}

.bg-gold {
    background-color: #9b9a97;
}
.card-border-radius {
    border-radius: 8px;
}
.footer {
    margin-top: 100px;
    background-color: rgba(159, 157, 157, 0.263);
    border-radius: 3px;   
}
.footer h2{
    color: rgb(22, 91, 169);
}
.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 767px) {

    .logo_size {
        width: 60px;
        height: 60px;
    }

    .data {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }

    .data p,
    img {
        margin: 5px;
    }
    .footer h2{
        text-align: center;
    }

}