*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
    color: black;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px, solid, rgb(18, 67, 122) ;
}
.factors {
    display: flex;
    align-items: center;
    gap: 25px;
}
.company_name{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.company_name h2 {
    color: rgb(18, 67, 122);
    font-size: 50px;
}
.factors a {
    color: #413f3fdc;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.factors a:hover, .factors a.active {
    color: black;
}
h1{
    font-size: 25px;
    color: rgb(18, 67, 122);
padding: 20px;
margin-left: 45px;
font-weight: 200;
}
.collections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
    margin-left: 15px;
}

.clts1 img {
    width: 220px;
    height: 210px;
    margin: 3px 0;
    border-radius: 8px;
    cursor: pointer;
}


.collections .clts1 {
    border-radius: 8px;
    width: 250px;
    padding: 5px 0;
    margin: 5px 0;
    /* background-color:  rgba(60, 130, 210, 0.53); */
    text-align: center;
}

.collections .clts1 h5 {
    color: rgb(23, 12, 12);
    font-size: 20px;
    margin-bottom: 2px;
}

.collections .clts1 button {
    font-size: 17px;
    color: rgb(76, 48, 48)
}

.collections .clts1 button:hover {
    color: rgb(18, 67, 122);
    transform: scale(1.1);
    cursor: pointer;
}

button{
    width: 25%;
    padding: 10px;
    margin-left: 60px;
    display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15px;
   border-radius: 5px;
   background-color:rgb(105, 137, 171) ;
   cursor: pointer;
}


.footer {
    margin-top: 100px;
    background-color: rgba(159, 157, 157, 0.263);
    border-radius: 3px;
    padding: 6px;
}

.footer h4 {
    color:rgb(18, 67, 122);
    font-size: 2rem;
    margin-left: 20px;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.data a {
    text-decoration: none;
    color: rgb(18, 67, 122);
}
.info {
    display: flex;
    justify-content: space-between;
}

.mail {
    margin-right: 20px;
}

.styled-form {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    margin: auto 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#sub{
    cursor: pointer;
}
.formPopup{
    display: none;
    background: #ffffffe1;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}


.formPopup .styled-form {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    margin: 0 auto;
    left: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.formOpen-popup {
    display: flex;
}


.formPopup .styled-form label  {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}


.formPopup .styled-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.formPopup input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;

}



.styled-form {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    margin: auto 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#submit{
    cursor: pointer;
}
.formPopup2{
    display: none;
    background: #ffffffe1;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}


.formPopup2 .styled-form {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    margin: 0 auto;
    left: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.formOpen-popup2 {
    display: flex;
}


.formPopup2 .styled-form label  {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}


.formPopup2 .styled-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.formPopup2 input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;

}