* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
}

.logo_size {
    width: 80px;
    height: 72px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.heading {
    color: rgb(22, 91, 169);
}

.container-fluid {
    margin-top: 20px;
}

.common-head {
    min-height: 80px;
}



.btn {
    width: 25%;
    border: 1px solid rgb(105, 137, 171);
    ;
    border-radius: 5px;
    background-color: rgb(105, 137, 171);
    cursor: pointer;
    box-shadow: 2px 2px;
}

.footer {
    margin-top: 100px;
    background-color: rgba(159, 157, 157, 0.263);
    border-radius: 3px;
}

.footer h2 {
    color: rgb(22, 91, 169);
}


.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.data a {
    text-decoration: none;
    color: rgb(18, 67, 122);
}

.info {
    display: flex;
    justify-content: space-between;
}

.mail {
    margin-right: 20px;
}

.styled-form {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#comments{
    width: 100%;
}
#sub {
    cursor: pointer;   
}

.formPopup {
    display: none;
    background: #ffffffe1;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.formOpen-popup {
    display: flex;
}


.formPopup .styled-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}


.formPopup input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;

}



#submit {
    cursor: pointer;
}

.formPopup2 {
    display: none;
    background: #ffffffe1;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}


.formPopup2 .styled-form {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    margin: 0 auto;
    left: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.formOpen-popup2 {
    display: flex;
}


.formPopup2 .styled-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}


.formPopup2 .styled-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.formPopup2 input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;

}

@media only screen and (max-width: 767px) {

    .common-head {
        min-height: 40px;
    }

    .logo_size {
        width: 60px;
        height: 60px;
    }

    .btn {
        width: 50%;
    }
    .styled-form{
        min-width: 300px;
    }


    .data {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }

    .data p,
    img {
        margin: 5px;
    }

    .footer h2 {
        text-align: center;
    }


}